[Unit]
Description=Farting fart fart
After=network.target

[Service]
User=REPL_USR
WorkingDirectory=/home/REPL_USR/.fartd/

ExecStart=/home/REPL_USR/.fartd/fartd.py

Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native

[Install]
WantedBy=multi-user.target
